extends layout

block content
    body.stilebody
        script(src="/socket.io/socket.io.min.js")
        script(src="/javascripts/Ui.js")
        script(src="/javascripts/Sockets.js")
        script(src="/javascripts/GetDataFromView.js")

                            


