extends layout

block content
  body.stilebody
    section(class="hero align-items-stretch")
      div(class=" d-flex flex-column justify-content-center align-items-center mt-5")
        pre
          |   _    _                                         
          |  | |  | |                                        
          |  | |__| | __ _ _ __   __ _ _ __ ___   __ _ _ __  
          |  |  __  |/ _` | '_ \\ / _` | '_ ` _ \\ / _` | '_ \\
          |  | |  | | (_| | | | | (_| | | | | | | (_| | | | |
          |  |_|  |_|\\__,_|_| |_|\\__, |_| |_| |_|\\__,_|_| |_|
          |                       __/ |                      
          |                      |___/                          
      
      div(class="d-flex flex-column justify-content-center align-items-center")
        h1 Bienvenido al Juego del Ahorcado
        p ¡Hola! Bienvenido al Juego del Ahorcado. ¿Estás listo para jugar?
        <a class="btn btn-secondary btn-lg" href="/users/game" role="button">Iniciar Partida</a>


