extends layout

block content
  body.stilebody
    section(class="hero align-items-stretch")
      div(class=" d-flex flex-column justify-content-center align-items-center mt-5")
        img(src="/images/logoGame.png" width="300" heigth="100" alt="Algo") 
      div(class="d-flex flex-column justify-content-center align-items-center")
        h1 Bienvenido al Juego del Ahorcado
        p ¡Hola! Bienvenido al Juego del Ahorcado. ¿Estás listo para jugar?
        <a class="btn btn-secondary btn-lg" href="/users/game" role="button">Iniciar Partida</a>


