extends layout

block content
  body.stilebody
    section(class="hero align-items-stretch")
      div(class=" d-flex flex-column justify-content-center align-items-center mt-5")
        img(src="/images/DeadLose.svg" width="300" alt="Muerto")
      div(class="d-flex flex-column justify-content-center align-items-center")
        h1 Has Muerto................
        p ¡Hey! ¿Quieres Intentarlo De Nuevo?
        <a class="btn btn-secondary btn-lg" href="/users/game" role="button">Volver a Intentarlo</a>
