extends layout

block content
  .container
    pre
      |   _    _                                         
      |  | |  | |                                        
      |  | |__| | __ _ _ __   __ _ _ __ ___   __ _ _ __  
      |  |  __  |/ _` | '_ \\ / _` | '_ ` _ \\ / _` | '_ \\
      |  | |  | | (_| | | | | (_| | | | | | | (_| | | | |
      |  |_|  |_|\\__,_|_| |_|\\__, |_| |_| |_|\\__,_|_| |_|
      |                       __/ |                      
      |                      |___/                       

    h1 Has Muerto................
    p ¡Hey! ¿Quieres Intentarlo De Nuevo?
    form(action="/users/game" method="get")
      button.btn.btn-primary(type="submit") Reintetar